html,
body {
  background: url(../../img/weyu/banner.jpg) no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.infoBtn{
  color:rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.infoBtn:hover{
  color:rgb(34, 108, 255);
}