td img {
    line-height: 0!important;
    width: auto!important;
    height: 1.2rem!important;
}


td,th {
    padding-left: 0.5rem !important;
}

#exportBtnXlsx {
    position: fixed;
    right: 0;
    top: 10rem;
    width: 5rem;
    height: 4rem;
    padding: 3px;
    z-index:99
}
#exportBtnCsv {
    position: fixed;
    right: 0;
    top: 15rem;
    width: 5rem;
    height: 4rem;
    padding: 3px;
    z-index:99
}

[type='checkbox'] {
    width: 100%;
    height: 1.8rem;
}

.tableWrapper {
    position: relative;
}

#searchBar {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    margin-top:10px;
    font-weight:600
}
