<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" enableHeaderChecking="true" />
    <httpCookies domain="" httpOnlyCookies="true" requireSSL="false" lockItem="false" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST,DELETE,PUT" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNetMvc-Version" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:;" />
        <add name="Referrer-Policy" value="No-referrer-when-downgrade" />
        <add name="Permissions-Policy" value="fullscreen=()" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>